USE [TaskManager]
GO
/****** Object:  Table [dbo].[p_User]    Script Date: 11/10/2016 10:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_User](
	[UserId] [int] NOT NULL,
	[UserName] [varchar](50) NULL,
	[PassWord] [varchar](50) NULL,
	[TrueName] [varchar](50) NULL,
	[UserEmail] [varchar](50) NULL,
	[PhoneNum] [varchar](30) NULL,
	[IsAdmin] [int] NULL,
	[Status] [int] NULL,
	[CreateTime] [datetime] NULL,
	[LastLoginTime] [datetime] NULL,
 CONSTRAINT [PK_p_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[p_User] ([UserId], [UserName], [PassWord], [TrueName], [UserEmail], [PhoneNum], [IsAdmin], [Status], [CreateTime], [LastLoginTime]) VALUES (1, N'admin', N'zdYqbXkNc1iKJ6s2NRB+9w==', N'admin', N'417114764@qq.com', N'18618243664', 1, 1, CAST(0x0000A5E900000000 AS DateTime), CAST(0x0000A5E900000000 AS DateTime))
/****** Object:  Table [dbo].[p_Task]    Script Date: 11/10/2016 10:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[p_Task](
	[TaskID] [uniqueidentifier] NOT NULL,
	[TaskName] [nvarchar](300) NULL,
	[TaskParam] [nvarchar](max) NULL,
	[CronExpressionString] [nvarchar](200) NULL,
	[AssemblyName] [nvarchar](150) NULL,
	[ClassName] [nvarchar](150) NULL,
	[Status] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedTime] [datetime] NULL,
	[ModifyTime] [datetime] NULL,
	[RecentRunTime] [datetime] NULL,
	[NextFireTime] [datetime] NULL,
	[CronRemark] [nvarchar](300) NULL,
	[Remark] [nvarchar](1000) NULL,
 CONSTRAINT [PK__p_Task__7C6949D12F10007B] PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'任务ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'p_Task', @level2type=N'COLUMN',@level2name=N'TaskID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'任务名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'p_Task', @level2type=N'COLUMN',@level2name=N'TaskName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'任务参数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'p_Task', @level2type=N'COLUMN',@level2name=N'TaskParam'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'任务运行Cron表达式' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'p_Task', @level2type=N'COLUMN',@level2name=N'CronExpressionString'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'程序集名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'p_Task', @level2type=N'COLUMN',@level2name=N'AssemblyName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'任务所在类包含命名空间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'p_Task', @level2type=N'COLUMN',@level2name=N'ClassName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'任务运行状态    1:运行 0:停止 -1 删除' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'p_Task', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'p_Task', @level2type=N'COLUMN',@level2name=N'CreatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'p_Task', @level2type=N'COLUMN',@level2name=N'ModifyTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最近运行时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'p_Task', @level2type=N'COLUMN',@level2name=N'RecentRunTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'下次运行时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'p_Task', @level2type=N'COLUMN',@level2name=N'NextFireTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'表达式中文说明' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'p_Task', @level2type=N'COLUMN',@level2name=N'CronRemark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'p_Task', @level2type=N'COLUMN',@level2name=N'Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'任务表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'p_Task'
GO
INSERT [dbo].[p_Task] ([TaskID], [TaskName], [TaskParam], [CronExpressionString], [AssemblyName], [ClassName], [Status], [IsDelete], [CreatedTime], [ModifyTime], [RecentRunTime], [NextFireTime], [CronRemark], [Remark]) VALUES (N'5fbaa648-d1e8-e511-b79d-54ee75868d10', N'测试任务11,输出当前时间', N'', N'0/10 * * * * ?', N'Weiz.TaskManager.TaskSet', N'Weiz.TaskManager.TaskSet.TestJob', 1, 0, CAST(0x0000A5F300F9CD76 AS DateTime), CAST(0x0000A65F01268671 AS DateTime), CAST(0x0000A65F01268670 AS DateTime), CAST(0x0000A65F01269228 AS DateTime), N'每10秒运行一次', NULL)
INSERT [dbo].[p_Task] ([TaskID], [TaskName], [TaskParam], [CronExpressionString], [AssemblyName], [ClassName], [Status], [IsDelete], [CreatedTime], [ModifyTime], [RecentRunTime], [NextFireTime], [CronRemark], [Remark]) VALUES (N'5fbaa648-d1e8-e511-b79d-54ee75868d11', N'测试任务12,输出当前时间', N'', N'0/10 * * * * ?', N'Weiz.TaskManager.TaskSet', N'Weiz.TaskManager.TaskSet.TestJob', 1, 0, CAST(0x0000A5F300F9CD76 AS DateTime), CAST(0x0000A65F01268671 AS DateTime), CAST(0x0000A65F01268670 AS DateTime), CAST(0x0000A65F01269228 AS DateTime), N'每10秒运行一次', NULL)
INSERT [dbo].[p_Task] ([TaskID], [TaskName], [TaskParam], [CronExpressionString], [AssemblyName], [ClassName], [Status], [IsDelete], [CreatedTime], [ModifyTime], [RecentRunTime], [NextFireTime], [CronRemark], [Remark]) VALUES (N'5fbaa648-d1e8-e511-b79d-54ee75868db0', N'测试任务3,输出当前时间', N'', N'0/10 * * * * ?', N'Weiz.TaskManager.TaskSet', N'Weiz.TaskManager.TaskSet.TestJob', 1, 0, CAST(0x0000A5F300F9CD76 AS DateTime), CAST(0x0000A65F01268671 AS DateTime), CAST(0x0000A65F01268670 AS DateTime), CAST(0x0000A65F01269228 AS DateTime), N'每10秒运行一次', NULL)
/****** Object:  Table [dbo].[p_RunningLog]    Script Date: 11/10/2016 10:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_RunningLog](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TaskID] [uniqueidentifier] NULL,
	[Remark] [varchar](500) NULL,
	[Description] [varchar](1000) NULL,
	[CreateTime] [datetime] NULL,
 CONSTRAINT [PK_p_TaskRunLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[p_RunningLog] ON
INSERT [dbo].[p_RunningLog] ([Id], [TaskID], [Remark], [Description], [CreateTime]) VALUES (1, N'd4d6abe2-edaf-4f4e-a7de-445d0bace372', N'测试任务,输出当前时间 开始', N'', CAST(0x0000A6110140AC6C AS DateTime))
INSERT [dbo].[p_RunningLog] ([Id], [TaskID], [Remark], [Description], [CreateTime]) VALUES (2, N'd4d6abe2-edaf-4f4e-a7de-445d0bace372', N'测试任务,输出当前时间 结束', N'成功执行', CAST(0x0000A6110140B782 AS DateTime))
INSERT [dbo].[p_RunningLog] ([Id], [TaskID], [Remark], [Description], [CreateTime]) VALUES (3, N'd4d6abe2-edaf-4f4e-a7de-445d0bace372', N'测试任务,输出当前时间 开始', N'', CAST(0x0000A6110140BCEA AS DateTime))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
SET IDENTITY_INSERT [dbo].[p_RunningLog] OFF
/****** Object:  Table [dbo].[p_ErrorLog]    Script Date: 11/10/2016 10:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_ErrorLog](
	[nId] [bigint] IDENTITY(1,1) NOT NULL,
	[dtDate] [datetime] NULL,
	[sThread] [varchar](100) NULL,
	[sLevel] [varchar](100) NULL,
	[sLogger] [varchar](3000) NULL,
	[sMessage] [varchar](8000) NULL,
	[sException] [varchar](8000) NULL,
	[sName] [varchar](200) NULL,
 CONSTRAINT [PK_p_ErrorLog] PRIMARY KEY CLUSTERED 
(
	[nId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[p_ErrorLog] ON
INSERT [dbo].[p_ErrorLog] ([nId], [dtDate], [sThread], [sLevel], [sLogger], [sMessage], [sException], [sName]) VALUES (1, CAST(0x0000A61101420EC6 AS DateTime), NULL, N'ERROR', N'system', N'未将对象引用设置到对象的实例。', N'   在 Weiz.TaskManager.Tasks.Utils.TaskHelper.GetTask(IJobExecutionContext context) 位置 e:\vs2012\TaskManager-master\Weiz.TaskManager.Tasks\Utils\TaskHelper.cs:行号 24
   在 Weiz.TaskManager.Tasks.TaskSet.TestJob.Execute(IJobExecutionContext context) 位置 e:\vs2012\TaskManager-master\Weiz.TaskManager.Tasks\TaskSet\TestJob.cs:行号 25', N'Weiz.TaskManager.Tasks')
INSERT [dbo].[p_ErrorLog] ([nId], [dtDate], [sThread], [sLevel], [sLogger], [sMessage], [sException], [sName]) VALUES (2, CAST(0x0000A611014356CA AS DateTime), NULL, N'ERROR', N'system', N'未将对象引用设置到对象的实例。', N'   在 Weiz.TaskManager.Tasks.Utils.TaskHelper.GetTask(IJobExecutionContext context) 位置 e:\vs2012\TaskManager-master\Weiz.TaskManager.Tasks\Utils\TaskHelper.cs:行号 24
   在 Weiz.TaskManager.Tasks.TaskSet.TestJob.Execute(IJobExecutionContext context) 位置 e:\vs2012\TaskManager-master\Weiz.TaskManager.Tasks\TaskSet\TestJob.cs:行号 25', N'Weiz.TaskManager.Tasks')
INSERT [dbo].[p_ErrorLog] ([nId], [dtDate], [sThread], [sLevel], [sLogger], [sMessage], [sException], [sName]) VALUES (3, CAST(0x0000A61101435D44 AS DateTime), NULL, N'ERROR', N'system', N'未将对象引用设置到对象的实例。', N'   在 Weiz.TaskManager.Tasks.Utils.TaskHelper.GetTask(IJobExecutionContext context) 位置 e:\vs2012\TaskManager-master\Weiz.TaskManager.Tasks\Utils\TaskHelper.cs:行号 24
   在 Weiz.TaskManager.Tasks.TaskSet.TestJob.Execute(IJobExecutionContext context) 位置 e:\vs2012\TaskManager-master\Weiz.TaskManager.Tasks\TaskSet\TestJob.cs:行号 25', N'Weiz.TaskManager.Tasks')
SET IDENTITY_INSERT [dbo].[p_ErrorLog] OFF
/****** Object:  Default [DF__p_Task__TaskID__30F848ED]    Script Date: 11/10/2016 10:10:34 ******/
ALTER TABLE [dbo].[p_Task] ADD  CONSTRAINT [DF__p_Task__TaskID__30F848ED]  DEFAULT (newsequentialid()) FOR [TaskID]
GO
/****** Object:  Default [DF__p_Task__Status__31EC6D26]    Script Date: 11/10/2016 10:10:34 ******/
ALTER TABLE [dbo].[p_Task] ADD  CONSTRAINT [DF__p_Task__Status__31EC6D26]  DEFAULT ((0)) FOR [Status]
GO
/****** Object:  Default [DF__p_Task__CreatedO__32E0915F]    Script Date: 11/10/2016 10:10:34 ******/
ALTER TABLE [dbo].[p_Task] ADD  CONSTRAINT [DF__p_Task__CreatedO__32E0915F]  DEFAULT (getdate()) FOR [CreatedTime]
GO
