<div class="headerSj clearfix">    
    <ul>
        <li class="inline">
            <i class="accountIcon inline"></i>您好：@ViewBag.UserModel.UserName  &nbsp;<a href="/Home/LoginOut">[ 退出 ]</a></li>
    </ul>
</div>