<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--数据库连接信息-->
  <add key="SqlConnect" value="Data Source=zhangweizhong;Initial Catalog=TaskManager;User ID=sa;Password=sasa"/>
  
  <!--Quartz 作业服务器的地址-->
  <add key="QuartzServer" value="192.168.99.242"/>
  <add key="QuartzPort" value="555"/>
  
</configuration>