<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--数据库连接信息-->
  <add key="SqlConnect" value="Data Source=zhangweizhong;Initial Catalog=TaskManager;User ID=sa;Password=sasa"/>
  
  <!--Quartz 作业服务器的地址-->
  <add key="QuartzServer" value="localhost"/>
  <add key="QuartzPort" value="555"/>

  <!--任务配置的存储方式 1 数据库，2 XML 文件 TaskConfig.xml-->
  <add key="StorageMode" value="1"/>
</configuration>