@charset "utf-8";

* html #logo a { padding:5px 10px 30px 10px; font-size:36px; color:#FFF; font-weight:bold; }
html>body #logo a { display:block; margin-left:10px; height:60px; text-indent:-999em; overflow:hidden;  background:url(images/logo.png) no-repeat; }
#doc { height:100%; background:url(images/bottom.png) repeat-x 0 bottom; }
#header { height:40px; padding:30px 0; }
#logo { float:left; width:320px; }
#nav { float:left; margin-top:16px; margin-left:58px; background:#232323\9; background:rgba(0, 0, 0, .5); border-radius:5px; }
#nav li { margin:0; }
#nav li, #nav li a { display:inline-block; *zoom:1; *display:inline; }
#nav li a { margin:0 4px; padding:3px 6px; color:#FFF; font-size:1em; font-weight:bold; }
#nav li a.select { border-bottom:solid 1px #F00; background:#C72015; box-shadow:0 3px 5px rgba(255, 0, 0, .7); }

#header, #main, #footer { margin:0 80px; }
#main { min-height:640px\9;padding:15px;  position:relative; width:50em; font-size:1.16em; background:#FFF; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius:10px; border: solid #000 1px; box-shadow:0 0 8px rgba(0, 0, 0, .7); }
@media screen and (min-width:0) {#main{min-height:640px;}}
#main .mainWrap { min-height:500px; _height:500px; }

#main .about { padding:2em; padding-top:3em; margin-bottom:15px; }
#main .about dd { margin:1em 0 1.5em 0; text-indent:0;  }
#main .about dt { height:2em; line-height:2em; font-size:14px; }
#main h2 { clear:both; font-size:1.4em; height:2em; margin-bottom:10px; line-height:2em; text-align:center; color:#FFF; background:#030; font-weight:bold; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius:5px; }
#main .content { text-indent:2em; }
#main h3 { font-weight:bold; color:#003300; }
#main h3 span { font-weight:normal; color:#999; }
#main h4 { margin-top:5px; text-indent:1em; }
#main h3 em, #main h4 em { font-weight:normal; color:#F90; }
#main p { padding:10px 0; }
#main pre { margin:10px 0; *zoom:1; }
#main ul, ol { padding:5px; background-color:#F8F8F8; border:solid 1px #F3F3F3; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius:5px; }
#main li { margin:10px; list-style: disc inside; }
#main .buttons { text-align:right; }
#main img { padding:5px; border:1px solid #F6F6F6; }
#main img:hover { border-color:#F0F0F0; }
#main button { font-size:12px; padding:2px 8px; background-color:#F8F8F8; border:solid 1px #CCC; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius:5px; cursor:pointer; }
#main button:hover { background: #F5F5F5; }
#main strong { font-weight:bold; margin:0 3px; }
#main dl { margin:0 10px; }
#main dt { font-weight:bold; color:#003300; }
#main dl dd { margin:5px 20px; list-style:inside; text-indent:1em; }
.demoInfo p { padding:8px; }
/*行变色表格*/
table.zebra, .zebra th, .zebra td { border-width: 1px; border-style: solid; margin: 0; font-family:'Microsoft Yahei', Tahoma, Arial!important; font-family:'宋体', Tahoma, Arial; }
table.zebra { table-layout: fixed; width: 100%; margin-bottom: 6px; padding: 0 1px 1px 0; border-spacing: 0; border-collapse: separate; *border-collapse:collapse; border-color: #abb8ce; background: #EDEDED; }
.zebra th { padding: 5px 4px; font-weight: bold; border-color: #f8f8f8 #abb8ce #abb8ce #f8f8f8; text-align: left; text-shadow: 1px 1px 0 #e4edfb; vertical-align: middle; background: #d0dbee; }
.zebra thead th { text-align:center; }
.zebra th strong { color:#090; border-bottom:1px dashed #090;  text-decoration:underline; }
.zebra td { padding:0; }
.zebra th.separate { text-align:center; border-color: #E1F196 #AECD1B #AECD1B #F3FAD6; background-color: #f3f7fd; }
.zebra td { padding: 4px; font: 12px/18px Consolas, "Courier New", Courier, monospace; text-align: left; vertical-align: top; }
.zebra td { border-color: #f8f8f8 #abb8ce #abb8ce #f8f8f8; background: #e0e8f5; }
.zebra tr.odd th { background: #dbe4f4; }
.zebra tr.odd td { background: #e6eef9; }
.zebra br { margin-bottom:1.8em; }
table.zebra .parameter, table.zebra .type, table.zebra .default { width:7em; }
html>body #footer { margin:0 0 0 auto; width:331px; height:54px; background:url(images/text.png) no-repeat; }
